{% extends 'base.html' %}

{% block content %}
<h2>Menu</h2>
<div>
    <a href="{% url 'home' %}">Home</a> /
    <span>Menu</span>
</div>

{% if menu_items %}
<div class="menu-list">
    <ul>
        {% for item in menu_items %}
            <li class="menu-item">
                {% if item.image_url %}
                <a href="{% url 'menu_item' item.id %}" class="menu-item-link">
                    <img src="{{ item.image_url }}" alt="{{ item.name }}" class="menu-item-image">
                </a>
                <br />
                {% endif %}
                <a href="{% url 'menu_item' item.id %}" class="menu-item-link">{{ item.name }}</a>
                <br />
                <div class="menu-item-description">{{ item.description }}</div>
                <div class="menu-item-price">${{ item.price }}</div>
            </li>

        {% endfor %}
    </ul>
</div>
{% else %}
<p>No menu items available at the moment.</p>
{% endif %}

{% endblock %}